build
build/revision
*.xcodeproj/*.pbxuser
*.xcodeproj/*.tm_build_errors
*.xcodeproj/*.xcworkspacedata
*.xcodeproj/*.xcuserstate
xcuserdata
*.xcuserstate
*.xcworkspace
*.xcbkptlist
*.tmproj
.DS_Store
DerivedData/*
Podfile.lock
Pods
Pods/*
